@media only screen and (max-width: 768px) {
    /* For mobile phones: */

    .footer{
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #A4C6E2;
        z-index: 1000;
    }
    .footer img{
        padding: 5px 20px 5px 17px ;
        height: 35px;
        opacity: 80%;
    }

    .ButtonFooter{
        background-color: #A4C6E2;
        border: none;
        padding: 0 ;
    }
    .ButtonFooter:active{
        background-color: #87a8c2;
    }
    body, .Content {
        margin: 0;
        padding: 0;
    }
    .Content{
        background-color: #fffff1;
        min-height: 100vh;
        overflow: hidden;
    }
    .HomeFeed{
        display: block;
        padding-bottom: 69px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .UserAva{
        position: absolute;
        left: 320px;
        top: 20px;
        
        /* Create the circle avatar */
        background-image: url('/Assets/SponsorAvatar.png');
        width: 55px;
        height: 50px;
        background-size: cover;
        background-position: top center;
        border-radius: 50%;
    }
    .UserGreet{
        padding: 5px;
    }

    .SponsorBar{
        display: flex;
        width: 92%;
        background-color: #c4dff6;
        justify-content: space-between;
        padding: 10px;
        margin-left: 6px;
        border-radius: 10px;
        align-items: center;
        height: 55px;
        
    }
    .SponsorBar button{
        border: none;
        background-color: #c4dff6;
        padding-top: 5px;
        height: 50px;
    }
    .ButtonName{
        position: relative;
        bottom: 10px;
    }
    .SponsorBar button:active{
        background-color: #accce3;
    }
    /* Timer style start */
    .TimerBar{
        
        display: table;
        width: 92%;
        background-color: #71efc1c9;
        justify-content: center;
        padding: 10px;
        margin-left: 6px;
        border-radius: 10px;
        align-items: center;
        /* height: 55px; */

    }
    #Timer div {
        display: inline-block;
        min-width: 50px;
      }
    #Timer div span {
    /* color: #B1CDF1; */
    display: block;
    font-size: 10px;
    font-weight: 400;
    }
    /* Timer style end */

    .SmallProgressSection{
        display: flex;
    }

    .SmallProgressBar{
        width: 92%;
        background-color: #71efc1c9;
        justify-content: center;
        padding: 10px;
        margin-left: 6px;
        border-radius: 10px;
        align-items: center;
        width: 40%;
        margin: 5px;

    }
    .CigsTakenSection{
        display: grid;
        width: 92%;
        
        /* grid-row: 2; */
    }
    .CigsTakenSection img{
        margin-top: 5px;
        height: 30px;
    }
    .CigsTaken{
        display: flex;
        width: 100%;
        background-color: #f78282;
        justify-content: space-between;

        padding: 10px;
        margin-left: 6px;
        border-radius: 10px;
        align-items: center;

    }
    .CigsTaken h2{
        padding-left: 100px;
    }
    .TakeCigButton{
        border: none;
        background-color: #00214c;
        color: white;
        border-radius: 10px;
        padding: 5px 10px;
        margin-top: 5px;
    }
    .TakeCigButton:active{
        background-color: #a80000;
    }


  }