@media only screen and (max-width: 1170px) {
    /* For mobile phones: */
    /* body{
        font-family: Arial, sans-serif;
        text-align: center;
    } */

    .footer{
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #A4C6E2;
        z-index: 1000;
    }
    .footer img{
        padding: 5px 20px 5px 17px ;
        height: 35px;
        opacity: 80%;
    }

    .ButtonFooter{
        background-color: #A4C6E2;
        border: none;
        padding: 0 ;
    }
    .ButtonFooter:active{
        background-color: #87a8c2;
    }
    body, .Content {
        margin: 0;
        padding: 0;

    }
    .Content{
        background-color: #fffff1;
        min-height: 100vh;
        overflow: hidden;
    }
    .HomeFeed{
        display: block;
        padding-bottom: 69px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .UserAva{
        position: absolute;
        left: 320px;
        top: 20px;
        
        /* Create the circle avatar */
        background-image: url('/Assets/SponsorAvatar.png');
        width: 55px;
        height: 50px;
        background-size: cover;
        background-position: top center;
        border-radius: 50%;
    }
    .UserGreet{
        padding: 5px;
    }
    #SponsorAva{
        max-width: 200px;
        max-height: 64px;
        border-radius: 10px;
    }

    .SponsorBar{
        display: flex;
        width: 92%;
        background-color: #c4dff6;
        justify-content: space-between;
        padding: 10px;
        margin-left: 6px;
        border-radius: 10px;
        align-items: center;
        height: 55px;
        
    }
    .SponsorBar button{
        border: none;
        background-color: #c4dff6;
        padding-top: 5px;
        height: 50px;
    }
    .ButtonName{
        position: relative;
        bottom: 0px;
    }
    .SponsorBar button:active{
        background-color: #accce3;
    }
    /* Timer style start */
    .TimerBar{
        
        display: table;
        width: 95%;
        background-color: #71efc1c9;
        justify-content: center;
        padding: 10px;
        margin-left: 6px;
        border-radius: 10px;
        align-items: center;
        /* height: 55px; */

    }
    .TimerBar h4{
        margin-bottom: 5px;
    }
    #Timer div {
        display: inline-block;
        min-width: 50px;
      }
    #Timer div span {
    /* color: #B1CDF1; */
    display: block;
    font-size: 10px;
    font-weight: 400;
    }
    /* Timer style end */
    .ProgressTitle{
        margin-bottom: 5px;
        margin-top: 10px;
    }

    .SmallProgressSection{
        display: flex;
    }

    .SmallProgressBar{
        width: 90%;
        background-color: #71efc1c9;
        justify-content: center;
        padding: 10px;
        margin-left: 6px;
        border-radius: 10px;
        align-items: center;
        width: 40%;
        margin: 5px;

    }
    .CigsTakenSection{
        display: grid;
        width: 92%;
        margin-bottom: 30px;
        
        /* grid-row: 2; */
    }
    .CigsTakenSection img{
        margin-top: 5px;
        height: 30px;
    }
    .CigsTaken{
        display: flex;
        width: 100%;
        background-color: #f78282;
        justify-content: space-between;
        padding: 10px;
        margin-left: 6px;
        border-radius: 10px;
        align-items: center;

    }
    .CigsTaken h2{
        padding-left: 100px;
    }
    .TakeCigButton{
        border: none;
        background-color: #00214d;
        color: white;
        border-radius: 10px;
        padding: 5px 10px;
        margin-top: 5px;
        margin-bottom: 10px;
        
    }
    .TakeCigButton:active{
        background-color: #a80000;
    }
    .TakeCigButton:disabled{
        opacity: 60%;
    }
    .TakeCigButton:disabled:active{
        opacity: 60%;
        background-color: #00214d ;
    }
    .RefillCigButton{
        border: none;
        background-color: #00214c;
        color: white;
        border-radius: 10px;
        padding: 5px 10px;
        margin-top: 5px;
        margin-bottom: 10px;
        /* opacity: 60%; */
    }
    .RefillCigButton:active{
        background-color: #a80000;
    }
    .RefillCigButton:disabled{
        opacity: 60%;
    }
    .RefillCigButton:disabled:active{
        opacity: 60%;
        background-color: #00214d ;
    }
    /* Landing/Login page start */
    .LandingPage{
        background-color: #00214c;
        min-height: 100vh;
        overflow: hidden;
    }
    .LandingButton{
        background-color: #00214c;
        border: none;
        padding: 0 ;
    }
    .LandingLogo{
        display: flex;
        position: absolute;
        top: 30%;
        left: 30%;
    }
    .AccountForms{
        display: none;
        background-color: #003882;
        border-radius: 50px;
        /* height: 650px; */
        padding: 50px;
        position: relative;
        top: 100px;
        background-image: url("/Assets/image4Transparent.png");
        background: size 100px;
        background-repeat: no-repeat;
        background-position: center;
        
    }
    .AccountForms h2{
        background-color: #87a8c2;
        border-radius: 20px;
        padding: 10px 50px 10px 50px;
    }
    .AccountForms button{
        /* border: none; */
        border: 5px;
        border-color: #001127;
        background-color: #00214c;
        color: white;
        width: 100px;
        height: 50px;
        border-radius: 20px;
        font-size: medium;
        cursor: pointer;

    }
    .AccountForms button:active{
        background-color: #001127;
    }

    .Login{
        /* display: block; */
        display: none;
    }
    .Login input{
        display: grid;
        border-radius: 20px;
        padding: 10px;
        margin: 5px 5px 30px 5px;
        width: 250px;
    }
    .SwitchLogin{
        margin-top: 10px;
        color: white;
    }
    .AccountForms .LoginLink{
        background-color: #003882 ;
        color: #66bfff;
        text-decoration: underline;
        padding-right: 10px;

    }
    .AccountForms .LoginLink:active{
        background-color: #003882 ;
        color: #4e95c9;
    }
    .SignUp{
        display: block;
        /* display: none; */
        justify-content: center;
    }
    .SignUp input{
        display: grid;
        border-radius: 20px;
        padding: 10px;
        margin: 5px 5px 30px 5px;
        width: 250px;
    }



    /* Leon Section */


/***************startpage start*************/
.start {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F3A58;
}

.content {
    text-align: center;
    width: 100%;
    position: relative;
}


.text {
    font-size: 80px; 
    font-weight: bold;
    position:absolute;
    bottom: 10px;
    right: -50px;
    color: white
}

.centered-button {
    background-color: #F5F2E8;
    color: black;
    border: none;
    padding: 20px 100px;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.centered-button:hover {
    background-color: yellow;
}


.article-text {
    font-size: 18px;
    margin-bottom: 50px;
    max-width: 900px; 
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    text-align: justify;
    color: white;
    transition: opacity 1s ease-in-out; 
}



.continue-btn {
    background-color: #F5F2E8;
    color: black;
    border: none;
    padding: 20px 300px;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.continue-btn:hover {
    background-color: yellow;
}

@media only screen and (max-width: 480px) {
    .text {
        font-size: 32px; 
        margin-bottom: 100px;
    }

    .centered-button {
        padding: 8px 40px;
        font-size: 12px;
    }

    .article-text {
        font-size: 14px;
        margin-bottom: 20px;
        max-width: 100%; 
    }

    .continue-btn {
        padding: 8px 100px;
        font-size: 12px;
    }
}
/***************startpage end*************/


/***************profile start*************/
.profile{
    background-color: #1F3A58;
}

.profile h2{
    font-size: 36px;
    color: white;
}

.profile label{
    font-size: 20px;
    color: white;
}

.profile p{
    color: white;
    font-size: 28px;

}

.profile input[type="text"] {
    width: 400px;
    height: 40px;
    padding: 5px;
    border-radius: 10px;
}


.profile input[type="date"] {
    width: 200px;
    height: 40px;
    padding: 5px;
    border-radius: 10px;
}

.profile input[type="number"] {
    width: 200px;
    height: 40px;
    padding: 5px;
    border-radius: 10px;
}

.profile select {
    width: 200px;
    height: 40px;
    padding: 5px;
    border-radius: 10px;
}

.sponsor {
    width: 200px;         
    height: 50px;          
    font-size: 20px;       
    padding: 10px 20px;    
    border-radius: 10px;   
    cursor: pointer;       
}

button.sponsor:hover {
    background-color:yellow;
}


/***************profile end*************/


/***************choose sponsor start*************/


.choose-sponsor {
    text-align: center;
    padding: 30px;
    color: white;
    font-size: 20px;
    background-color: #1F3A58;
    height: 100vh;
}

.image-set {
    text-align: center; 
    display: none;
}

.sponsor-image {
    margin: 30px 0;
}

.clickable-image {
    max-width: 600px;
    transition: transform 0.3s ease;
    width: 400px;
    height: auto;
}

.clickable-image:hover {
    transform: scale(1.1);
}


.dot {
    padding: 5px 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dot:hover {
    background-color: yellow;
}

.dot.active {
    background-color: #555; 
}

.select-btn, .bottom-btn {
    padding: 10px 20px;
    margin: 10px 50px;
    border: none;
    cursor: pointer;
    background-color: #bbb;
    color: black;
    border-radius: 5px;
}

.bottom-btn {
    display: block;
    width: 20%;
    margin-top: 30px;
}

.selected-image {
    border: 5px solid white; 
}

#set1 {
    display: block;
}



/* Modal Styles */
.Sponser-modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #bbb;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    position: fixed;     
    top: 40%;             
    left: 50%;            
    transform: translate(-50%, -50%); 
}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.select-btn:hover, .bottom-btn:hover {
    background-color: yellow;
    color: black; /* 如果需要，可以更改悬停时的文字颜色 */
}

@media only screen and (max-width: 420px) {
    .choose-sponsor {
        padding: 15px;
        font-size: 16px;
    }

    .clickable-image {
        max-width: 280px;
        width: 100%;
        height: auto;
    }

    .modal-content {
        width: 90%;
        margin: 20% auto;
    }

    .dot {
        padding: 3px 6px;
    }

    .select-btn, .bottom-btn {
        margin: 5px 20px;
        padding: 8px 16px;
    }

    .bottom-btn {
        width: 20%;
    }
}
/***************choose sponsor end*************/

/***************mysponsor start*************/
.chooseSponsorPage {
    background-color: #1F3A58;
    font-family: Arial, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.sponsor-content {
    max-width: 800px;
    margin: 5px auto;
    text-align: center;
}

.sponsor-content h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.sponsor-content h3 {
    font-size: 28px;
    margin-bottom: 20px;
}

.selected-sponsor-image img {
    max-width: 100%;
    margin-bottom: 20px;
}

.sponsor-message {
    font-size: 18px;
    margin-bottom: 40px;
    line-height: 1.5;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btn-left, .btn-right {
    padding: 10px 30px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 10px;
}

.btn-left{
    background-color: #eee;
}

.btn-right{
    background-color: yellow;
}
.btn-left:hover, .btn-right:hover {
    background-color: yellow;
}


/***************mysponsor end*************/

/***************questionnaire start*************/
.star {
    font-size: 24px;
    cursor: pointer;
    transition: color 0.3s;
}

.star.active {
    color: gold;
}

.btn-right1{
    padding: 10px 30px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 10px;
    background-color: yellow;
    margin-left: 50px;
}

.FINSH{
    background-color: #F5F2E8;
    color: black;
    border: none;
    padding: 20px 300px;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#finishBtn {
    display: none;
}


.modal1 {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content1 p {
    color: black;
}

.modal-content1 {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    text-align: center;
    position: fixed;     
    top: 30%;             
    left: 40%;            
    transform: translate(-50%, -50%); 
}

.close1 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close1:hover,
.close1:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

* {
    margin: 0;
    padding: 0;
  }
  :root {
    --fb-post-border: #088AE9;
  
    --fb-post-bg: #262728;
    --fb-post-color: #FFFFFF;
  
    --fb-post: #FFFFFF;
  
    --fb-post-btn-bg: #3A3B3C;
    --fb-post-btn-color: #FFFFFF;
    --fb-post-btn-bg-hover: #464849;
  
    --fb-reactions-bg: #3A3B3C;
  }
/* body{
    background-color: #DAE4F2;
    justify-content: center;
} */
#postForm{
    margin-left: 40px;
    margin-top: 20px;
}
.diary-box{
    background:#FCFFF1;
    width: 400px;
    margin: 10px 10px;
    font-family: 'IM Fell Great Primer', serif;
}
#comments{
    width: 400px;
    height: 80px;
    margin: 5px 10px;
    color: grey;
    font-style: italic;
    font-family: 'IM Fell Great Primer', serif;
}
/* input{
    float: right;
} */
.p{
  font-family: 'IM Fell Great Primer', serif;
}

  /* Timeline Container */
  .timeline {
    margin: 20px auto;
    padding: 20px;
  }
  
  /* Outer Layer with the timeline border */
  .outer {
    border-left: 2px solid #333;
  }
  
  /* Card container */
  .card {
    position: relative;
    margin: 0 0 20px 20px;
    padding: 10px;
    color: gray;
    border-radius: 8px;
    max-width: 400px;
  }
  
  /* Information about the timeline */
  .info {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  /* Title of the card */
  .title {
    color: black;
    position: relative;
  }
  
  /* Timeline dot  */
  .title::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: #FCFFF1;
    border-radius: 999px;
    left: -39px;
    border: 3px solid orangered;
  }
  /* img{
    width: 20px;
    height: 20px;
  } */
  ul{
    position: absolute;
    display: flex;
    width: 200px;
  }
  ul li{ 
    background: #555; 
    display: block;
    padding: .2rem;
    border-radius: .5rem;
  }
  ul li img{display:block !important;} 
  ul li:hover {background: #666;}
  .post-interactions button{
    padding: .5rem .33rem;
    width: 100%;
    border-radius: .5rem;
    border: none;
    color: black;
    background-color: rgb(181, 200, 229);
    transition: background .3s ease;
  }
  .post-interactions img{
    width: 20px;
    height: auto;
  }
  /* button:hover {
    background-color: white;
      top:-133;
      opacity: 1;
      pointer-events: auto;
  } */
  .post-interactions {
    display: flex;
    gap: 0 .25rem;
    align-items: center;
    position: relative;
    cursor: pointer;
    }
    .dot {
      height: 25px;
      width: 25px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
    }


    /* MESSAGE */

    .container {
        height: 100%;
        width: 100%;
        background-color: #ffffff;
        /* position: relative; */
    }
    

    
        
    .msg-header {
        height: 75px;
        width: 100%;
        background-color: #FAF6F6;
        margin: 0;
        display: flex;
        align-items: center; /* Vertically align items within the header */
        justify-content: space-between; /* Distribute items along the horizontal axis */
        border-bottom: 1px solid #e1e1e1;
    
    }
    
    .avatar {
        border-radius: 50%;
        height: 48px;
        width: 48px;
        margin-right: 10px; /* Add margin to separate avatar and button */
        margin-left: 15px;
    }
    
    .back-button {
        height: 32px;
        width: 32px;
        border: none;
        background-color: #FAF6F6;
    }
    
    .back {
        height: 100%;
        width: auto;
    }
    
    .container1 {
        display: flex; /* Add display: flex */
        flex-direction: row;
        align-items: center; /* Vertically align items within container1 */
        flex: 1; /* Allow container1 to grow and take up remaining space */
    }
    
    .call {
        height: 48px;
        width: 48px;
        position: relative;
        display: inline-block;
    }
    
    .phone-popup {
        display: none;
        position: relative;
        top: 100%;
        left: -50px;
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        z-index: 1; /* Ensure it's above other content */
        width: 75px;
    }
    
    .call:hover .phone-popup {
        display: block;
        padding-right: 10%;
    }
    
    .call:hover .phone-popup::before {
        content: '';
        position: absolute;
        top: -10px;
        left: 10px;
        border: 5px solid transparent;
        border-bottom-color: #fff;
    }
    
    .call img{
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 20%;
    }
    
    
    
    .username {
        line-height: 0;
        font-weight: 600;
        font-size: 150%;
        padding-top: 4%;
    
    }
    
    
    .status {
        line-height: 0;
        color: green;
        padding-left: 15px;
        padding-top: 50%;
    }
    
    .online {
        width: 10px;
        height: 10px;
        background: green;
        border-radius: 50%;
        position: relative;
        top: 25px;
    }
    
    .circle {
        padding-bottom: 20px;
    
    }
    
    .chat-page {
        height: 700px;
        color:#FAF6F6;
    
    }
    
    .msg-bottom {
        position: fixed;
        bottom: 0;
        width: 100%;
        margin: 0; /* Remove any margin */
        padding: 0; /* Remove any padding */
        border-top: 1px solid #e1e1e1;
    }
    
    
    .msg-content {
        background-color: #FAF6F6;
        display: flex; /* Use flexbox to align items horizontally */
        flex-direction: column;
        justify-content: space-between;
        position: relative;
    }
    
    .right-box {
        display: flex;
        flex-direction: row;
        align-items: center; /* Vertically center the content */
        width: 45%;
        border-radius: 10px;
        padding: 5px;
        background: #1F3A58;
        margin-left: 49.75%;
        margin-top: 2%;
        justify-content: space-between;
    }
    
    .left-box {
        display: flex;
        flex-direction: row;
        align-items: center; /* Vertically center the content */
        width: 45%;
        border-radius: 10px;
        padding: 5px;
        background: #1F3A58;
        margin-left: 3%;
        margin-top: 2%; /* Adjust the margin-top value as needed */
        justify-content: space-between;
    }
    
    
    .right-box p,
    .right-box span {
        color: white;
        margin: 0; /* Remove default margin for <p> and <span> */
    }
    
    .left-box p,
    .left-box span {
        color: white;
        margin: 0; /* Remove default margin for <p> and <span> */
    }
    
    .msg-content .right-box-box {
        justify-content: left;
    }
    
    .countdown {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
    
    }
    
    .today {
        left: 0;
        text-align: left;
        padding-left: 5%;
        padding-top: 3%;
        padding-bottom: 1%;
    }
    
    .countdown-widget {
        background-color: #F25050;
        width: 95%;
        display: flex;
        border-radius: 10px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center; /* Center contents horizontally */
        padding-top: 2%;
        padding-bottom: 2%;
    }
    
    .countdown-values{
        width: 33%;
        text-align: center;
        font-size: 20px;
        min-width: 100px;
        color: white;
    
    }
    
    .countdown-segments{
        width: 33%;
        text-align: center;
        font-size: 10px;
        min-width: 100px;
        color: white;
    }
    
    .request{
        text-align: center;
        font-size: 82.5%;
    }
    
    .time-right {
        align-self: center;
        padding-left: 5%;
        justify-content: right;
    }
    
    .input-group {
        width: 100%;
        height: 60px;
        background-color: #FAF6F6;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    
    .message {
        flex: 1; /* Take up the remaining space */
        border: none;
        background: #FAF6F6;
    }
    
    input:focus {
        outline: none;
    }
    
    .accept{
        text-align: center;
        font-size: 82.5%;
    }
    
    .msg-warning {
        height: 250px; /* Set a fixed height for the container */
        display: flex;
        justify-content: center;
        align-items: center;
        position: sticky;
        display: none;
    }
    
    .pop {
        width: 80%; /* Set a percentage-based width for the content */
        max-width: 400px; /* You can also set a max-width if needed */
        height: 150px;
        background: rgb(255, 160, 160);
        position: absolute;
        padding: 5px;
        border-radius: 20px;
    }
    
    .banicon {
        text-align: center;
    }
    
    .WarningText {
        text-align: center;
        font-weight: bold;
        font-size: large;
        color: rgb(123, 0, 0);

    }
    
    .exclaimation {
        height: 20%;
        width: 20%;
        text-align: center;
        padding-top: 3%;
    }
    
    .emoji {
        border: none;
        background-color: #FAF6F6;
    }
    
    .emoji img {
        width: 32px;
        height: 32px;
    }
    
    .message-item{
        display: flex;
        flex-direction: row;
        align-items: center; /* Vertically center the content */
        width: 45%;
        border-radius: 10px;
        padding: 10px;
        background: #1F3A58;
        margin-left: 47.5%;
        margin-top: 5%;
        color: white;
        justify-content: space-between;
    }
    
    .send {
        border: none;
        background-color: #FAF6F6;
    }
    
    .send img {
        height: 32px;
        width: 32px;
    }
    
    
    .white-back{
        background: #FCFFF1;
    }
    .htwo-title{
        margin: 0;
    }
    .title p{
        font-size: 18px;
        margin-left: 25px;
    }
    .title{
        display:flex;
        color: #1F3A58;
        font-family: IM FELL Great Primer;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.18px;
        margin: 0;
        padding: 0;
    }
    .main-stat{
        align-items: center;
        margin-left: 30px;
    }
    .hfour-title{
        margin-bottom: 15px;
        margin-top: 10px;
    }
    .column-one{
        width: 355px;
        height: 393px;
        background: #DAE4F2;
    }
    .column-one p{
        padding: 4px;
    }
    .column-two{
        width: 355px;
        height: 140px;
        background: #D9E3F1;
        text-align: center;
    }
    .column-two p {
        color: grey;
        font-family: IM FELL Great Primer;
        font-size: 24px;
        font-style: italic;
        letter-spacing: 0.12px;
    }
    .cigarette_{
        align-items: center;
    }
    #myChart{
        width:100%;
        height: 200px;
        padding-top: 30px;
    }


    .white-back{
        background: #FCFFF1;
    }
    .htwo-title{
        margin: 0;
    }
    .title p{
        font-size: 18px;
        margin-left: 25px;
    }
    .title{
        display:flex;
        color: #1F3A58;
        font-family: IM FELL Great Primer;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.18px;
        margin: 0;
        padding: 0;
    }
    .main-stat{
        align-items: center;
        margin-left: 30px;
    }
    .hfour-title{
        margin-bottom: 15px;
        margin-top: 10px;
    }
    .column-one{
        width: 355px;
        height: 393px;
        background: #DAE4F2;
    }
    .column-one p{
        padding: 4px;
    }
    .column-two{
        width: 355px;
        height: 140px;
        background: #D9E3F1;
        text-align: center;
    }
    .column-two p {
        color: grey;
        font-family: IM FELL Great Primer;
        font-size: 24px;
        font-style: italic;
        letter-spacing: 0.12px;
    }
    .cigarette_{
        align-items: center;
    }
    #myChart{
        width:100%;
        height: 200px;
        padding-top: 30px;
    }

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
}



.AlertBox {
    display: none;
    position: fixed;
    border-radius: 10px;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
  }
  
  .Alert-content {
    background-color: #f4f4f4;
    margin: 20% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    text-align: center;
  }
  
  .CloseAlert {
    float: right;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
  }
  
  .CloseAlert:hover {
    color: red;
  }

  .sub-title{
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.icons-text p{
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    margin: 0;
    padding: 5px;
}
.main-content {
    background: #FCFFF1;
    width: 430px;
    height: 932px;
    padding-top: 50px;
    padding-left: 25px;
}
.user-profile{
    width: 365px;
    height: 67px;
    border-radius: 8px;
    background-color: #D9E3F1;
    display:flex;
    column-gap: 30px;
    align-items: center;

}
.dot {
    height: 43px;
    width: 43px;
    background-color: #1F3A58;
    border-radius: 50%;
    display: inline-block;
    margin-left: 15px;
}
.four-rows{
    width: 365px;
    height: 172px;
    border-radius: 6px;
    background: rgba(126, 127, 136, 0.05);
    display: flex;
}
.three-rows{
    width: 365px;
    height: 132px;
    border-radius: 6px;
    background: rgba(126, 127, 136, 0.05);
    display: flex;
}
.two-rows{
    width: 365px;
    height: 94px;
    border-radius: 6px;
    background: rgba(126, 127, 136, 0.05);
    display: flex;
}
.icons-text{
    float: left;
    display: flex;
    flex-direction: column;
    height: 38px;
    margin: 10px 10px;
    gap:10px;
    margin-left: 20px;
}


}